{#
 **
 * Template part for displaying a message that posts cannot be found.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package _t
 *
 #}


<section class="no-results not-found">
  <header class="page-header">
    <h1 class="page-title">
      {{ __( 'Nothing Found', '_t' ) }}
    </h1>
  </header><!-- .page-header -->

  <div class="page-content">
    {% if fn( 'is_home' ) and fn( 'current_user_can', 'publish_posts' ) %}

      {% set admin_url = fn( 'admin_url', 'post-new.php' )|e('url') %}
      {% set arg = __( 'Ready to publish your first post? <a href="%1$s">Get started here</a>.', '_t' ) %}
      {% set arr = { 'a': { 'href' : {} } } %}
      {% set wtf = fn( 'wp_kses', arg, arr ) %}

      <p>
        Ready to publish your first post? <a href="{{ wtf | format( admin_url ) }}">Get started here</a>.
      </p>

    {% elseif fn( 'is_search' ) %}

      <p>
        {{ __( 'Sorry, but nothing matched your search terms. Please try again with some different keywords.', '_t' ) }}
      </p>

      {{ fn( 'get_search_form' ) }}

    {% else %}

      <p>
        {{ __( 'It seems we can&rsquo;t find what you&rsquo;re looking for. Perhaps searching can help.', '_t' ) }}
      </p>

      {{ fn( 'get_search_form' ) }}

    {% endif %}
  </div><!-- .page-content -->
</section><!-- .no-results -->
