{#
**
* The template for displaying comments.
*
* This is the template that displays the area of the page that contains both the
* current comments and the comment form.
*
* @link https://codex.wordpress.org/Template_Hierarchy
*
* @package _t
#}

{# *Some vars below are not defined in the controller (e.g. in single.php) but
    in 'inc/timbers.php', under [COMMENTS CONTEXT VARS]. So if you ever
    need to look up some implementation/definition, they can be found in
    those two files.

   Call Stack: single.php -> single.twig -> thisfile
#}

  {#
   * We only load the comment if the current post is not protected by a password.
  #}
  {% if not password_required %}
    <div id="comments" class="comments-area">

      {# * You can start editing here -- including this comment! #}
      {% if has_comments %}
        <h2 class="comments-title">
          {{ comments_title }}
        </h2>

        {# TODO: There is a duplication in codes below, with the only difference
                 being the nav id. DRY them. Perhaps use 'yield'? #}
        {% if comments_are_paged %}
          {# Are there comments to navigate through? #}
          <nav id="comment-nav-above" class="navigation comment-navigation" role="navigation">
            <h2 class="screen-reader-text">{{ sr_text }}</h2>
            <div class="nav-links">

              <div class="nav-previous">
                {{ comments_link_prev }}
              </div>
              <div class="nav-next">
                {{ comments_link_next }}
              </div>

            </div><!-- .nav-links -->
          </nav><!-- #comment-nav-above -->
        {% endif %}{# Check for comment navigation. #}

        <ol class="comment-list">
          {{ comments_list }}
        </ol><!-- .comment-list -->

        {% if comments_are_paged %}
          {# Are there comments to navigate through? #}
          <nav id="comment-nav-below" class="navigation comment-navigation" role="navigation">
            <h2 class="screen-reader-text">{{ sr_text }}</h2>
            <div class="nav-links">

              <div class="nav-previous">
                {{ comments_link_prev }}
              </div>
              <div class="nav-next">
                {{ comments_link_next }}
              </div>

            </div><!-- .nav-links -->
          </nav><!-- #comment-nav-below -->
        {% endif %}{# Check for comment navigation. #}

    {% endif %}{# Check for have_comments(). #}

    {% if comments_are_closed_and_there_are_comments %}
     {# ...let's leave a little note, shall we? #}
      <p class="no-comments">{{ no_comments }}</p>
    {% endif %}

    {{ comment_form }}

  </div><!-- #comments -->

  {% endif %}{# no password_required #}
