{#
 **
 * Template part for displaying a message that posts cannot be found.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package _t
 *
 #}

{# Call stacks:
    1)  search.php -> search.twig -> thisfile
    2)  index.php  -> index.twig  -> thisfile
#}

<section class="no-results not-found">
  <header class="page-header">
    <h1 class="page-title">{{ page_title }}</h1>
  </header><!-- .page-header -->

  <div class="page-content">
    {% if is_home and can_publish_posts %}

      <p>{{ create_post_link }}</p>

    {% elseif is_search %}

      <p>{{ no_match_found }}</p>

      {{ search_form }}

    {% else %}

      <p>
        {{ no_content_found }}
      </p>

      {{ search_form }}

    {% endif %}
  </div><!-- .page-content -->
</section><!-- .no-results -->
