{#
 **
 * Template part for displaying page content in page.php.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package _t
 *
 #}

{# Call Stack: page.php -> page.twig -> thisfile #}

<article id="post-{{ post.ID }}" class="{{ fn( 'post_class' ) }}">

  <header class="entry-header">
    <h1 class="entry-title">{{ post.title }}</h1>
  </header><!-- .entry-header -->

  <div class="entry-content">
    {{ post.content }}

    {{ fn( 'wp_link_pages', {
          'before' : '<div class="page-links">' ~ __( 'Pages:', '_t' ),
          'after'  : '</div>'
          } )
    }}
  </div><!-- .entry-content -->

  <footer class="entry-footer">
    {{ fn( 'edit_post_link', __( 'Edit', '_t' ), '<span class="edit-link">', '</span>' ) }}
  </footer><!-- .entry-footer -->

</article><!-- #post-## -->
